doctype html
html
  head
    title Agenda
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content


    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')    
    script(src='../public/javascripts/knockout-3.4.2.js')    